/* BODY */

body {
    margin-top: -22px;
    background: #1e1e1e;
}

/* NAVBAR */

.navbar {
    background-color: #1e1e1e !important;
}

/* Navbar Text House And Disco Records */

.navbar-brand {
    font-family: Avenir !important;
    font-size: 18px;
    margin-top: 1.2px;
    margin-left: 14px;
    color: #747474 !important;
}

/* Navbar Search */

#container-search {
    background-color: #1e1e1e;
    border-color: #747474;
    border-radius: 9px;
}

/* Navbar Text Search */

.form-control {
    filter: grayscale(100%);
    color: #747474 !important;
}

/* Navbar Mobile Toggler Cart */

.navbar-toggler {
    margin-right: 5px;
    border: none;
    color: #747474 !important;
    outline: none !important;
}

/* BUTTONS */

.btn {
    border-radius: 8px;
}

/* Navbar Cart Button */

.btn-primary {
    filter: grayscale(100%);
    font-family: Avenir !important;
    width: 120px;
    margin-right: 14px;
    border-color: #747474;
    background-color: #1e1e1e;
    color: #747474;
    box-shadow: none !important;
}

/* CARDS */

.card {
    background-color: #ddd;
    border: none;
    border-radius: 10px;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.card-body {
    background-color: #ddd;
}

.card-title {
    font-family: Avenir !important;
}

.productCondition,
.card-text {
    margin-top: -15px;
}

.productPrice {
    font-family: Avenir !important;
}

.card-footer {
    margin-top: -32px !important;
    border: none;
    border-radius: 0px 0px 10px 10px !important;
    background-color: #ddd;
}

/* Button Card Listen Logo */

.btn-warning {
    color: #333333 !important;
    width: 50px;
    height: 35px;
}

/* Button Card Info Logo */

.btn-info {
    filter: grayscale(100%);
    color: #222222 !important;
    width:50px;
    height: 35px;
}

/* Button Card Add to Cart Shopping Car Logo */

.btn-success {
    color: #333333 !important;
    width: 50px;
    height: 35px;
}

/* Text HOUSE */

#House {
    color: #1e1e1e;
}

/* Text DISCO */

.my-4 {
    color: #747474;
}

/* CART */

/* Your Cart Text */

#myModalLabel {
    margin-left: 30px;
    font-size: 25px;
}

.modal-content {
    font-size: 13.5px;
    border-radius: 10px;
    border-color: #ddd;
    background-color: #ddd;
}

.modal-header,
.modal-content,
.modal-body,
.modal-footer {
    border: none;
}

/* Button Close Inside Cart */

.btn-outline-primary {
    font-family: Avenir !important;
}

/* Button Send Order Inside Cart */

.sendOrder {
    margin-right: 18px;
    height: 38px;
    width: 110px;
    color: #f9f9f9 !important;
}

/* FOOTER */

.bg-dark {
    background-color: #1e1e1e !important;
}

.text-secondary {
    font-family: Avenir !important;
    color: #747474 !important;
}
.pp {
    font-family: Avenir !important;
    margin-top: 30px;
    color: #747474;
}

.itemShippingImg {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    width: 25px;
    height: auto;
}

.removeItem {
    color: red;
    float: left;
}

#priceColumn {
    width: 80px;
}

.red {
    color: red;
}





