
/* NAVBAR */

.navbar {
    background-color: #1e1e1e !important;
}

/* Navbar Text House And Disco Records */

.navbar-brand {
    font-family: Avenir !important;
    margin-left: 14px !important;
    color: #666667 !important;
}

/* Navbar Search */

#container-search {
    background-color: #1e1e1e;
    border-color: #666667;
    border-radius: 9px;
}

/* Navbar Text Search */

.form-control {
    filter: grayscale(100%) !important;
}

/* Navbar Mobile Toggler Cart */

.navbar-toggler {
    margin-right: 14px;
    border-color: #666667;
    color: #666667 !important;
    outline: none !important;
    
}

/* BUTTONS */

.btn {
    border-radius: 8px;
}

/* Navbar Cart Button */

.btn-primary {
    filter: grayscale(100%) !important;
    font-family: Avenir !important;
    width: 120px;
    margin-right: 14px;
    border-color: #666667;
    background-color: #1e1e1e;
    color: #666667;
    box-shadow: none !important;
}

/* Button Card Listen */

.btn-warning {
    font-family: Avenir !important;
}

/* Button Card Add to Cart Text */

.btn-success {
    color: #fafafa !important;
    font-family: Avenir !important;
}

/* Button Close Inside Cart */

.btn-outline-primary {
    border-color: #666667 !important;
    color: #666667 !important;
    filter: grayscale(100%) !important;
    font-family: Avenir !important;
}

/* Button Send Order Inside Cart */

.sendOrder {
    border-color: #666667;
    background-color: #666667;
    color: #fafafa;
}


/* BODY */

body {
    background: #1e1e1e;
}

/* CARDS */

.card {
    background-color: #ddd;
    border: none;
    border-radius: 10px;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

.card-body {
    background-color: #ddd;
}

.productCondition,
.card-text {
    margin-top: -15px;
}

.card-title {
    font-family: Avenir !important;
}

.productPrice {
    font-family: Avenir !important;
}

.card-footer {
    margin-top: -20px;
    border: none;
    border-radius: 0px 0px 10px 10px !important;
    background-color: #ddd;
}

/* Text HOUSE */

#House {
    color: #1e1e1e;
}

/* Text DISCO */

.my-4 {
    color: #666667;
}

/* CART */

.modal-content {
    border-radius: 10px;
    background-color: #ddd;
}

.modal-header,
.modal-body {
    border: none;
}

/* FOOTER */

.bg-dark {
    background-color: #1e1e1e !important;
}

.text-secondary {
    font-family: Avenir !important;
    color: #666667 !important;
}


.itemShippingImg {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    width: 25px;
    height: auto;
}

.removeItem {
    color: red;
    float: left;
}

#priceColumn {
    width: 80px;
}

.red {
    color: red;
}





